body {
  background: #222;
}

.navbar-brand img {
    height: 30px;
}

hr {
    width: 270px;
}

header{
    background-image: url(http://oylfrwsqf.bkt.clouddn.com/image/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    margin-top: 50px;
    text-align: center;
    color: black;
}

.gif img {
    height: 120px;
}

.gif h3{
    color:white;
}

.gif h4{
    color:white;
}

.tab-content{
    margin-top: 70px;
    height: 400px;
}

.intro-header {
    position: relative;
    height: 751px;
    background-color: rgba(0, 0, 0, 0.3);
}

article{
    background-color: #000;
    margin-top: 0;
}

section{
    background-color:#b89f81;
    color: white;
    padding: 100px 0;
}

section h2 {
    color: black;
}

article > section:nth-child(2n){
  background:#804000;
}

footer{
    background-color: #000;
    color: white;
    padding: 100px 0;
}
