.jumbotron {
    margin-bottom: 0;
    /* background-color: #e9ecef; */
}

hr {
    width: 270px;
}

section{
    color: #4c221b;
    padding: 70px 0;
}

section h2 {
    color: #4a4266;
}

#notes {
    background-color: #fffbf0;
}

#essay {
    background-color: #fa8c35;
}

#poems {
    background-color: #bce672;
}

footer{
    background-color: #161823;
    color: #f3f9f1;
    padding: 50px 0;
}
