#info{
    padding: 170px 0;
}

hr {
    width: 170px;
}

section{
    color: #8d4bbb;
    padding: 70px 0;
}

section h2 {
    color: #4a4266;
}

#notes {
    background-color: #fffbf0;
}

#essay {
    background-color: #fa8c35;
}

#poems {
    background-color: #bce672;
}

footer{
    background-color: #161823;
    padding: 70px 0;
    color: #f0f0f4;
}
